.root{
	-fx-background-color: #f0f0f0;
}

#popup{
	-fx-border-color: grey;
	-fx-border-width: 1 0 0 0;
	-fx-background-color: #f0f0f0;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#popupadmin
{
	-fx-border-color: grey;
	-fx-border-width: 1 0 0 0;
	-fx-background-color: #f0f0f0;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#leftMenu{
	-fx-padding: 10 0 0 0;
	-fx-border-color: grey;
	-fx-border-width: 0 1 0 0;
	-fx-background-color: transparent;
}

.menuTitre{
	-fx-font-size:16px;
	-fx-text-fill:black;
	-fx-padding:0 0 0 10;
}

.menuItem{
	-fx-font-size:16px;
	-fx-font-weight:bold;
	-fx-padding:0 0 0 10;
	-fx-text-fill:grey;
}

.menuItem:hover{
	-fx-text-fill:black;
}

#navBar .label {
	-fx-background-color: transparent;
	-fx-font-size:14px;
	-fx-font-weight:bold;
}

#navBar .label:hover {
	-fx-background-color: #086788;
	-fx-text-fill: white;
}

#titre{
	-fx-font-size:33px;
	-fx-alignment:center;
}

.tiled-pane{
	-fx-background-color: transparent;
}

#container{
	-fx-padding: 10 0 0 0;
}

.itemTitre{
	-fx-font-size:15px;
	-fx-alignment:center;
	-fx-text-fill:grey;
}

.itemPrize{
	-fx-font-size:15px;
	-fx-alignment:center;
	-fx-text-fill:black;
}

.item{
	-fx-background-color: #FAF6F4;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.item:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 0, 0, 0, 0);
}

.scroll-pane > .viewport{
	-fx-background-color: transparent;
}

.scroll-pane{
	-fx-background-color: transparent;
}

.scroll-pane > .scroll-bar{
	-fx-background-color: transparent;
}

#pubDes{
	-fx-font-size:14px;
	-fx-text-alignment: center;
}

#prevPub{
	-fx-image: url(../images/enseigne/prev.png);
}

#prevPub:hover{
	-fx-image: url(../images/enseigne/prev_hover.png);
}

#nextPub{
	-fx-image: url(../images/enseigne/next.png);
}

#nextPub:hover{
	-fx-image: url(../images/enseigne/next_hover.png);
}

.pointPub{
	-fx-image: url(../images/enseigne/point.png);
}

.pointPub:hover{
	-fx-image: url(../images/enseigne/point_hover.png);
}

#moreInfo{
	-fx-font-size:16px;
	-fx-alignment:center;
	-fx-text-fill:black;
	-fx-border-color: grey;
	-fx-border-width: 1 0 0 0;
}

.textZone{
	-fx-opacity:1.0;
	-fx-border-radius:0px;
	-fx-border-width: 0 0 0 0;
	-fx-font-size:13px;
	-fx-text-fill:black;
	-fx-hbar-policy: never;
	-fx-background-color: transparent;
}

#infoZoneReservation{
	-fx-opacity:1.0;
	-fx-border-radius:0px;
	-fx-border-width: 0 0 0 0;
	-fx-font-size:11px;
	-fx-text-fill:black;
	-fx-hbar-policy: never;
	-fx-background-color: transparent;
}

.overlayPane{
	-fx-background-color: #f0f0f0;
	-fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

#titreOverlay{
	-fx-font-size: 14px;
}

.titreLabel{
	-fx-font-size:16px;
	-fx-alignment:center;
	-fx-text-fill:black;
	-fx-border-color: grey;
	-fx-border-width: 1 0 1 0;
}

#description:disabled{
	-fx-opacity:1.0;
	-fx-border-radius:0px;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 0 0 0 0;
	-fx-font-size:13px;
	-fx-text-fill:black;
}

.text-area .scroll-bar:vertical:disabled {
	-fx-opacity: 0;
}